In [1]:
import pandas as pd
import glob

# Get a list of all CSV files in the current directory
csv_files = glob.glob('*.csv')

# Initialize an empty list to store individual DataFrames
dfs = []

# Read each CSV file into a DataFrame and append it to the list
for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
all_data = pd.concat(dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
all_data.head()

,Annotator A ID,Annotator B ID,Parition ID,Corpora ID,Sentence ID,Text,Annotator A Text,Annotator B Text,Length,Error,...,Dataset,Partition,SentenceID,Greeting,Backstory,Justification,Rant,Gratitude,Other,Express Emotion
0,1,7.0,2.0,1.0,6507.0,What advantage is there in booking directly wi...,What advantage is there in booking directly wi...,What advantage is there in booking directly wi...,242.0,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7.0,2.0,1.0,6508.0,"Hi, Could someone please confirm if CX 884 - H...","[Hi, ]Could someone please confirm if CX 884 -...","Hi, Could someone please confirm if CX 884 - H...",230.0,134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,7.0,2.0,1.0,6509.0,I will be transiting Dubai soon en route to Oz...,[I will be transiting Dubai soon en route to O...,I will be transiting Dubai soon en route to Oz...,448.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.0,2.0,1.0,6514.0,Does anyone know where I'd find estimated pric...,Does anyone know where I'd find estimated pric...,Does anyone know where I'd find estimated pric...,274.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,7.0,2.0,1.0,6518.0,It's from BA and finds the cheapest BA flight ...,It's from BA and finds the cheapest BA flight ...,It's from BA and finds the cheapest BA flight ...,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd
import glob

# Get a list of all CSV files in the current directory
csv_files = glob.glob('*.csv')

# Initialize an empty list to store individual DataFrames
dfs = []

# Read each CSV file into a DataFrame and append it to the list
for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
all_data = pd.concat(dfs, ignore_index=True)

# Display the number of rows and columns in the combined DataFrame
num_rows, num_cols = all_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 121268
Number of columns: 39